# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

venv/
env/
.venv/

# Build files

build/
dist/
*.spec

# Executables

*.exe

# Logs

command_output.txt
*.log

# IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
desktop.ini
